#*** Credentials for googleOauth/Nodemailer ***

CLIENT_ID = ""
CLIENT_SECRET = ""

GMAIL_USER = "andrewresidence2017@gmail.com"

REFRESH_TOKEN = ""

ACCESS_TOKEN =""

#*** Crendentials for Plivo ***

PLIVO_AUTH_ID = ""

PLIVO_AUTH_TOKEN = ""

PLIVO_NUMBER = ""