body, html {
  margin: 0;
  padding: 0;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  /* font-size: 16px; */
  background-color: #ffffff;
}

#welcome {
  color: #8774AA;
  margin-left: 10px;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
  
}

.instructions {
  background-color: #ffffff;
  padding: 15px;
  
}

.logo {
  size: 50%;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
  background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #8774AA;
  width: 100%;
  border-radius: 0px;
  box-shadow: 0 8px 6px -6px black;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}

.calendarPop {
  height: auto;
}

  .adminTitle {
    width: 100%;
    text-align: center;
  }

#adminContainer {
  display: flex;
  justify-content: center;
}

.adminBoxes {
  background-color: #E7E7E7;
  width: 30%;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.adminBoxHeader {
  text-align: center;
}

.adminNameBox {
  width: 80%;
}

.adminUserRow {
  border-bottom: solid 2px #ffffff;
}

/* #approveUsersBox {
  background-color: #E7E7E7;
  width: 45%;
  margin: 5px;
  padding: 5px;
} */

/* #editUsersTable, #confirmUsersTable {
  width: 70%; 
  padding: 5px;
  border: 2px solid lightslategray;
  align-self: center;
  margin: 0 auto;
} */

/* #editUsersTable td, #confirmUsersTable td {
  width: 25%;
  border: 0px solid black;
}

#editUsersTable #userName, #confirmUsersTable #userName {
  width: 50%;
  text-align: center;
} */

.NoUsersMessage {
  width: 100%;
  text-align: center;
  font-style: italic;
}

.editIcon, .deleteIcon, #closeIcon {
  height: 25px;
  width: auto;
}

/* #editButton, #deleteButton, #closeButton {
  min-width: 30px;
  padding: 3px;
  border-radius: 5px;
  display: flex;
  align-items: center;

} */

.calendarSpace {
  width: 78%;
  height: 90%;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px; 
}

.calHeader {
  font-size: 16px;
  margin-bottom: 10px;
  width: 13.4%;
  background-color: #3F3F3F;
  margin: 2px;
  padding: 2px;
  color: #ffffff;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Cantata One', serif;
}

.calBox {
  background-color: lightslategray;
  margin: 2px;
  width: 13.4%;
}


#addShiftPop {
  width: 600px;
  height: auto;
}

#staffDrop {
  width: 100px;
  margin-left: 20px;
}


.staffCalendarSpace {
  width: 98%;
  height: 90%;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.staffCalBox {
  width: 13.4%;
  min-height: 150px;
  background-color: #E7E7E7;
  display: inline-flex;
  padding: 2px;
  margin: 2px;
  align-content: center;
  justify-content: center;
}

.innerBox {
  width: 90%;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.dayNum {
  margin-bottom: 5px;
}

.staffCalHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
}

.shiftButton, #confirmShiftButton {
  border-radius: 2px;
  background-color: #ffffff;
  margin: 2px 2px 2px 0px;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  padding: 2px;
  cursor: pointer;
  padding: 1px;
  display: in-line flex;
  align-items: baseline;
  justify-content: center;

}

#confirmShiftButton {
  margin: 5px 2px;
  text-align: left;

}

.confirmBox {
  margin: 3px;
  padding: 10px;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  justify-content: space-between;
}

.shifts {
  align-items: stretch;
}

.superRight {
  float: right;
  width: 15%;
  margin-right: 20px;
}

#urgent {
  font-weight: bold;
  margin-left: 100px;
}

#roleBoxes {
  padding-top: 20px;
  padding-left: 20px;
}

#addFonts {
  padding-left: 20px;
}

#addRole {
  margin-right: 5px;
}

#addCalendar {
  padding-left: 150px;
}

#commentText {
  width: 500px;
  height: 300px;
}

#shiftCommentsText {
  margin-left: 20px;
}

#floorDrop{
  margin-left: 20px;
  width: 100px;
}

#statusDrop {
  
  width: 100px;
  margin-left: 20px;

}

#shiftInput {
width: 140px;
}

table{
  
    border-spacing: 5px;

}
table,th,td {
  border: 1px solid black;
  border-collapse: collapse;
  border: 1px solid black;
};

th,
td {
  padding: 15px;
}
/* #shiftTime {
  width: 10px;
  height: 10px;
} */

md-icon.Evening path.circle {
  fill: #A62020;
}

md-icon.EveningADL path.circle {
  fill: #A62020;
}

md-icon.Day path.circle {
  fill: black;
} 

md-icon.Night path.circle { 
  fill: #187B18;
}

#notifyFollowing {
  padding-left: 20px;
}

#statusIndicator {
  opacity: 0.75;
  height: 25px;
  width: 60px;
  float: right;
  margin-top: 10px;
  margin-left: 40px;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;  
  margin-bottom: 10px;

}

#editDate {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
}

#shiftDetailRole {
  margin-left: 20px;
  padding-right: 10px;
}

#editShiftInput {
  margin-left: 20px;
  width: 125px;
}

#editFloorInput {
  width: 125px;
  padding-left: 20px;
}

#fillShiftButton {
  background-color: #3b5998;
  color: white;
}

#showFilledBy {
  height: 25px;
  width: 300px;
    text-align: center;
vertical-align: middle;
line-height: 25px;  
margin-left: 20px;
}
.pageHeader {
  margin-left: 20px;
  color: #3F3F3F;
}

.filterTabs {
  display: flex;
  align-items: center;
  justify-content: center;
}

#fillShiftInput {
  width: 200px;
text-align: center
}
.pageHeader {
  margin-left: 20px;
  color: #3F3F3F;
}

.filterTabs {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.Filled {
  background-color: #959595;
}

div.Pending {
  background-color: #FCF1C6;
}

.legendRow {
  display: flex;
  margin-top: 10px;
  /* justify-content: space-evenly; */
}

.key {
  margin-right: 20px;
  margin-left: 10px;
}

.legend {
  height: 30px;
  width: 100px;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   */
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  border-radius: 2px;
  margin-right: 10px;
}

#open {
  background-color: #ffffff;
  border: 1px solid #E6E8E6;
}

#pending {
  background-color: #FCF1C6;
  border: 1px solid #FBE7A1;
}

#filled {
  background-color: #959595;
  border: 1px solid #707070;
}

.mobileView {
  width: 100%;
}

.mobileShiftButton {
  border-radius: 2px;
  background-color: #ffffff;
  margin-bottom: 2px;
  width: 80%;
  height: 75px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  padding: 1px;
  /* justify-content: center; */
}


#filledByName {
    font-weight: bold;
text-align: center
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
  min-height: 1200px;
}

.myShiftBlock {
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  height: 75px;
  width: 80%;
  margin-bottom: 2px;
}

.shiftButtonLeft {
  float:left;
  display: flex;
  align-self: center;
}

.shiftStatusIndicator {
  width: 50px;
  height: 20px;
  font-size: 10px;
}

.headerText {
  font-family: 'Cantata One', serif;
  font-size: 16px;
  color: #8774AA;
  font-weight: bold;
}

.logRegForm {
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   */
  margin: 10px;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;

}

.lead {
  display: flex;
  /* justify-content: center; */
  color: #8774AA;
  padding-left: 20px;
}

.lead.alert.alert-danger {
  display: flex;
  /* justify-content: center; */
  color: #8774AA;
  font-size: 16px;
  padding-left: 20px;
}

.registrationButton {
  margin-top: 20px;
}

.personAdd {
  fill: #8774AA;
}

.shiftInterestButton {
  align-self: flex-end;
}

.editUserInput {
  width: 80%;
}


.confirmComments {
  display: block;
}

#headline {
  width: 400px;
  margin-left: 20px;
}

#message {
  width: 400px;
  margin-left: 20px;

}

.mobileUserEdit {
  margin-left: 10px;
  margin-right: 10px;
}

.editUserInput {
  border: 1px #cccccc solid;
  align-self: center;
  height: 25px;
  margin-right: 2px;
}

/* end messages on user page */

.userMessages {
  width: 80%;
  margin: 10px 10px 60px 10px;
}

.userMessagesHeader {
  font-size: 20px;
  font-weight: bold;
}

.messagesHeader {
  background-color: #8774AA;
  color: #ffffff;
  height: 40px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

.messageHeadline {
  font-weight: bold;
}

.userMessageRow {
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
}

.messageDate {
  width: 15%;
}

.messageMessage {
  width:60%;
}

.messageBy {
  width: 15%;
}

.messageDelete {
  width: 10%;
}

.messageDateHeader {
  font-weight: bold;
  width: 15%;
}

.messageMessageHeader {
  font-weight: bold;
  width:60%;
}

.messageByHeader {
  font-weight: bold;
  width: 15%;
}

.addMessageButton {
  float: right;
  margin-right: 20px;
}
/* end messages on user page */

.userInfo {
  width: 80%;
  margin: 10px;
}

.userMyInformation {
  font-size: 20px;
  font-weight: bold;
}

.userInfoHeader {
  background-color: #8774AA;
  color: #ffffff;
  height: 40px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

.userInfoRow {
  border-bottom: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  padding-left: 5px;
  padding-right: 5px;
}

.userInfoNameHeader {
  width: 30%;
}

.userInfoEmailHeader {
  width: 40%;
}

.userInfoPhoneHeader {
  width: 20%;
}

.userInfoEditHeader {
  width: 10%;
}

.userInfoName {
  width: 30%;
}

.userInfoEmail {
  width: 40%;
}

.userInfoPhone {
  width: 20%;
}

.userInfoEdit {
  width: 10%;
}