body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #ffffff;
  padding: 15px;
}

.logo {
  size: 50%;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
  background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #8774AA;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}

.calendarPop {
  height: auto;
}

#adminContainer {
  display: flex;
  justify-content: space-around;
}

#editSupervisorBox {
  background-color: skyblue;
}

#approveUsersBox {
  background-color: coral;
}

.calendarSpace {
  width: 78%;
  height: 90%;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px; 
}

.calHeader {
  font-size: 16px;
  margin-bottom: 10px;
<<<<<<< HEAD
  width: 13.5%;
=======
  width: 13.4%;
>>>>>>> master
  background-color: #3F3F3F;
  margin: 2px;
  padding: 2px;
  color: #ffffff;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Cantata One', serif;
}

.calBox {
  background-color: lightslategray;
  margin: 2px;
<<<<<<< HEAD
  width: 13.5%;
=======
  width: 13.4%;
>>>>>>> master
}


#addShiftPop {
  width: 600px;
  height: auto;
}


.staffCalendarSpace {
  width: 98%;
  height: 90%;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.staffCalBox {
  width: 13.4%;
  min-height: 150px;
  background-color: #E7E7E7;
  display: inline-flex;
  padding: 2px;
  margin: 2px;
  align-content: center;
  justify-content: center;
}

.innerBox {
  width: 90%;
  margin: 0;
  padding: 0;
}

.dayNum {
  margin-bottom: 5px;
}

.staffCalHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
}

.shiftButton, #confirmShiftButton {
  border-radius: 2px;
  background-color: #ffffff;
  margin: 2px 2px 2px 0px;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  

  padding: 2px;
  cursor: pointer;

  padding: 1px;
  display: in-line flex;
  align-items: baseline;
  justify-content: center;

}

#confirmShiftButton {
  margin: 5px 2px;
  text-align: left;

}

.shifts {
  align-items: stretch;
}

.superRight {
  float: right;
  width: 15%;
  margin-right: 20px;
}





#urgent {
  font-weight: bold;
  margin-left: 100px;
}

#roleBoxes {
  padding-top: 20px;
  padding-left: 20px;
}

#addFonts {
  padding-left: 20px;
}

#addRole {
  margin-right: 5px;
}

#addCalendar {
  padding-left: 150px;
}

#commentText {
  width: 500px;
  height: 300px;
}

#shiftCommentsText {
  margin-left: 20px;
}

#floorDrop{
  margin-left: 20px;
  width: 75px;
}

#statusDrop {
  
  width: 100px;

}

#shiftInput {
padding-left: 20px;  
width: 140px;
}
table{
  
    border-spacing: 5px;

}
table,th,td {
  border: 1px solid black;
  border-collapse: collapse;
  border: 1px solid black;
};

th,
td {
  padding: 15px;
}
/* #shiftTime {
  width: 10px;
  height: 10px;
} */

md-icon.Evening path.circle {
  fill: #A62020;
}

md-icon.EveningADL path.circle {
  fill: #A62020;
}

md-icon.Day path.circle {
  fill: black;
} 

md-icon.Night path.circle { 
  fill: #187B18;
}

#notifyFollowing {
  padding-left: 20px;
}

#statusIndicator {
  opacity: 0.75;
  height: 25px;
  width: 50px;
  float: right;
  margin-top: 10px;
  margin-left: 40px;
  border-radius: 3px;
  text-align: center;
vertical-align: middle;
line-height: 25px;  
margin-bottom: 10px;

}

#editDate {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
}

#shiftDetailRole {
  margin-left: 20px;
  padding-right: 10px;
}

#editShiftInput {
  margin-left: 20px;
  width: 125px;
}

#editFloorInput {
  width: 125px;
  padding-left: 20px;
}

#fillShiftButton {
  background-color: #3b5998;
  color: white;
}

#showFilledBy {
  height: 25px;
  width: 300px;
    text-align: center;
vertical-align: middle;
line-height: 25px;  
margin-left: 20px;
}
.pageHeader {
  margin-left: 20px;
  color: #3F3F3F;
}

.filterTabs {
  display: flex;
  align-items: center;
  justify-content: center;
}

#fillShiftInput {
  width: 200px;
text-align: center
}
.pageHeader {
  margin-left: 20px;
  color: #3F3F3F;
}

.filterTabs {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.Filled {
  background-color: #959595;
}

div.Pending {
  background-color: #FCF1C6;
}

.legendRow {
  display: flex;
  /* justify-content: space-evenly; */
}

.key {
  margin-right: 20px;
  margin-left: 10px;
}

.legend {
  height: 30px;
  width: 100px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  border-radius: 2px;
  margin-right: 10px;
}

#pending {
  background-color: #FCF1C6;
}

#filled {
  background-color: #959595;
}

.mobileView {
  width: 100%;
}

.mobileShiftButton {
  border-radius: 2px;
  background-color: #ffffff;
  margin-bottom: 2px;
  width: 80%;
  height: 75px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  padding: 1px;
  /* justify-content: center; */
}
