body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #333333;
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
  background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}

.calendarPop {
  height: auto;
}

#adminContainer {
  display: flex;
  justify-content: space-around;
}

#editSupervisorBox {
  background-color: skyblue;
}

#approveUsersBox {
  background-color: coral;
}

.calendarSpace {
  width: 80%;
  height: 90%;
  margin: 20px;
}

.calHeader {
  font-size: 16px;
  margin-bottom: 10px;
  width: 13%;
  background-color: #8774aa;
  margin: 2px;
  display: inline-block;
  padding: 2px;
  text-align: center;
  color: #ffffff;
  height: 30px;
}

.calBox {
  background-color: lightslategray;
  margin: 2px;
  width: 13%;
}


#addShiftPop {
  width: 600px;
}

md-grid-tile {
  background-color: lightgray;
  justify-content: flex-end;
  align-content: right;
}

.calendarGrid {
  display: flex;
}

.staffCalendarSpace {
  width: 90%;
  height: 90%;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.staffCalBox {
  width: 13%;
  height: 100px;
  background-color: #cccccc;
  display: inline-block;
  padding: 2px;
  margin: 2px;
}

.innerBox {
  align-content: right;
  justify-content: flex-end;
}

.dayNum {
  text-align: right;
}

.staffCalHeader {
  width: 80%;
  text-align: center;
  font-size: 20px;
}
