body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #ffffff;
  padding: 15px;
}

.logo {
  size: 50%;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
  background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #8774AA;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}

.calendarPop {
  height: auto;
}

#adminContainer {
  display: flex;
  justify-content: space-around;
}

#editSupervisorBox {
  background-color: skyblue;
}

#approveUsersBox {
  background-color: coral;
}

.calendarSpace {
  width: 78%;
  height: 90%;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px; 
}

.calHeader {
  font-size: 16px;
  margin-bottom: 10px;
  width: 13.5%;
  background-color: #3F3F3F;
  margin: 2px;
  padding: 2px;
  color: #ffffff;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Cantata One', serif;
}

.calBox {
  background-color: lightslategray;
  margin: 2px;
  width: 13.5%;
}


#addShiftPop {
  width: 600px;
}


.staffCalendarSpace {
  width: 98%;
  height: 90%;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.staffCalBox {
  width: 13.5%;
  min-height: 150px;
  background-color: #E7E7E7;
  display: inline-flex;
  padding: 2px;
  margin: 2px;
  align-content: center;
  justify-content: center;
}

.innerBox {
  width: 90%;
  margin: 0;
  padding: 0;
}

.dayNum {
  margin-bottom: 5px;
}

.staffCalHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
}

.shiftButton, #confirmShiftButton {
  border-radius: 2px;
  background-color: #ffffff;
  margin: 2px 2px 2px 0px;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  padding: 1px;
  display: in-line flex;
  align-items: baseline;
  justify-content: center;
  
}

#confirmShiftButton {
  margin: 5px 2px;
  text-align: left;
}

.shifts {
  align-items: stretch;
}

.superRight {
  float: right;
  width: 15%;
  margin-right: 20px;
}

/* #shiftTime {
  width: 10px;
  height: 10px;
} */

md-icon.Evening path.circle {
  fill: #A62020;
}

md-icon.EveningADL path.circle {
  fill: #A62020;
}

md-icon.Day path.circle {
  fill: black;
} 

md-icon.Night path.circle { 
  fill: #187B18;
}

.pageHeader {
  margin-left: 20px;
  color: #3F3F3F;
}

.filterTabs {
  display: flex;
  align-items: center;
  justify-content: center;
}
