<div class="navbar" ng-controller="UserController as uc">
  <div class="container navContainer">
    <div class="leftSide">
      <ul>
        <li>
          <a href="#/user">User Home</a>
        </li>
        <li ng-if="uc.userObject.role === 'Administrator'">
          <a href="#/admin">Admin View</a>
        </li>
        <li ng-if="uc.userObject.role === 'Supervisor'">
          <a href="#/supervisor">Supervisor View</a>
        </li>
        <li ng-if="uc.userObject.role === 'ADL' || uc.userObject.role === 'MHW' || uc.userObject.role === 'Nurse'">
          <a href="#/staff">Staff View</a>
        </li>
      </ul>
    </div>
    <div class="rightSide">
      <md-button id="logOutButton" ng-click="uc.userService.logout()">Log Out</button>
    </div>
  </div>
</div>