<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <br>
  <h1 class="adminTitle">Administrator Tools</h1>
  <div id="adminContainer">
    <div id="editSupervisorBox">
      <h2 class="adminTitle">Supervisors:</h2>
      <div class="editUsers" ng-repeat="supervisor in ac.supervisors">
          <table id="editUsersTable">
              <tbody>
                <td id="userName">{{supervisor.name}}</td>
                <td><md-button id = "editButton" class="md-raised md-primary" ng-click="ac.showEditDialog($event, staff)">
                  <img class="editIcon" src="/styles/editIcon.png" alt="Edit">
                  </md-button></td>
                <td><md-button id = "deleteButton" class="md-raised md-primary" ng-click="ac.deleteUser(staff)">Remove User</md-button></td>
              </tbody>
            </table>
      </div>
      <h2 class="adminTitle">On-Call Staff:</h2>
      <div class="editUsers" ng-repeat="staff in ac.staff">
        <table id="editUsersTable">
          <tbody>
            <td id="userName">{{staff.name}}</td>
            <td><md-button id = "editButton" class="md-raised md-primary" ng-click="ac.showEditDialog($event, staff)">
              <img class="editIcon" src="/styles/editIcon.png" alt="Edit">
              </md-button></td>
            <td><md-button id = "deleteButton" class="md-raised md-primary" ng-click="ac.deleteUser(staff)">Remove User</md-button></td>
          </tbody>
        </table>
      </div>
    </div>
    <div id="approveUsersBox">
      <h2 class="adminTitle">Users Pending Account Confirmation</h2>
      <div ng-show="ac.noUsersMessage()" class="NoUsersMessage">There are no users pending confirmation at this time.</div>
      <div class="approveUsers" ng-repeat="user in ac.unconfirmed">
          <table id="confirmUsersTable">
              <tbody>
                <td id="userName">{{user.name}}</td>
                <td><md-button class="md-raised md-primary" ng-click="ac.showConfirmDialog($event, user)">Confirm</md-button></td>
                <td><md-button class="md-raised md-primary" ng-click="ac.deleteUser(user)">Remove</md-button></td>
              </tbody>
            </table>
      </div>
    </div>

  </div>
</div>
</div>