<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <h1>Admin View</h1>
  Upload PDF for staff home page: 
  <md-button class="md-raised" ng-click="ac.openPicker()">Add PDF</md-button>
  <br><br>
  <div id="adminContainer">
    <div id="editSupervisorBox">
      <h2>Supervisors:</h2>
      <div ng-repeat="supervisor in ac.supervisors">
        {{supervisor.name}}
        <button ng-click="ac.showEditDialog($event, supervisor)">Edit</button>
        <button ng-click="ac.deleteUser(supervisor)">Remove</button>
      </div>
      <h2>On-Call Staff:</h2>
      <div ng-repeat="staff in ac.staff">
        {{staff.name}}
        <button ng-click="ac.showEditDialog($event, staff)">Edit</button>
        <button ng-click="ac.deleteUser(staff)">Remove</button>
      </div>
      </div>
      <div id="approveUsersBox">
        <h2>Approve users box</h2>
        <div ng-repeat="user in ac.unconfirmed">
          {{user.name}}
          <button ng-click="ac.showConfirmDialog($event, user)">Confirm</button>
          <!-- Dialog pops up with option to add a role for the user. Whichever button they select gets sent back as the user's role, and the confirm button on the dialog will trigger the PUT route -->
          <button ng-click="ac.deleteUser(user)">Remove</button>
        </div>
      </div>

    </div>
  </div>
</div>