<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <h1>Admin View</h1>
  <div id="adminContainer">
    <div id="editSupervisorBox">
      <h2>Supervisors:</h2>
      <div ng-repeat="supervisor in ac.supervisors">
        {{supervisor.name}}
        <button>Edit</button>
        <button>Remove</button>
      </div>
      <h2>On-Call Staff:</h2>
      <div ng-repeat="staff in ac.staff">
        {{staff.name}}
        <button>Edit</button>
        <button>Remove</button>
      </div>
      </div>
      <div id="approveUsersBox">
        <h2>Approve users box</h2>
        <div ng-repeat="user in ac.unconfirmed">
          {{user.name}}
          <button>Confirm</button>
          <button>Remove</button>
        </div>
      </div>

    </div>
  </div>
</div>