<md-content layout="row" layout-align="space-around" layout-padding="layout-padding"
    ng-cloak="ng-cloak" class="login-form">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>Forgot Password?</span>
                </h2>
            </div>
        </md-toolbar>
        <md-card-content>
            <form name="Form">
                <md-input-container class="md-block">
                    <label>Email Address</label>
                    <input type="text" name="email" ng-model="fc.email" placeholder="email" required="" />
                    <div ng-messages="Form.email.$error" role="alert">
                        <div ng-message="required">Please enter your email.</div>
                    </div>
                </md-input-container>
                <md-button ng-disabled="!Form.$valid" ng-click="fc.newPass(fc.email)" class="md-raised md-primary">&nbsp Reset &nbsp</md-button>
            </form>
        </md-card-content>
    </md-card>
</md-content>