<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <p>
    In Info
  </p>

  <calendar-md flex layout layout-fill
  calendar-direction="direction"
  on-prev-month="prevMonth"
  on-next-month="nextMonth"
  on-day-click="dayClick"
  title-format="'MMMM y'"
  ng-model='selectedDate'
  week-starts-on="firstDayOfWeek"
  data-start-month="8"
  data-start-year="2017"
  tooltips="tooltips"
  day-format="dayFormat"
  day-label-format="'EEE'"
  day-label-tooltip-format="'EEEE'"
  day-tooltip-format="'fullDate'"
  day-content="setDayContent"
  disable-future-selection="false"
</calendar-md>

</div>
