<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <p>
        <h1>Hello Jems!</h1>
        <h3>Welcome to message.html! We use PopupTestController as pop!</h3>
        <h3>Enjoy!</h3>
    </p>
    <md-button class="md-raised md-primary" ng-click="pop.sendTextMessage()">Send me a Text Message Please!</md-button>

    <md-button class="md-warn md-raised" ng-click="pop.sendEmailMessage()">Send me an Email Message Please!</md-button>

    <md-button ng-show="pop.userObject.role === 'Supervisor'" class="md-raised md-primary" ng-click="pop.createNotification()">Create Notification</md-button>

    <table class="Notifications">
        <th class="notificationTableHead">Date Posted</th>
        <th class="notificationTableHead">Headline</th>
        <th class="notificationTableHead">Message</th>
        <th class="notificationTableHead">Posted By</th>
        <th ng-show="pop.userObject.role === 'Supervisor'" class="notificationTableHead">Delete</th>

        <tr class="notificationTableRows" ng-repeat="notification in pop.notifications">
            <td class="notificationTableData">{{notification.date | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}</td>
            <td class="notificationTableData">{{notification.headline}}</td>
            <td class="notificationTableData">{{notification.message}}</td>
            <td class="notificationTableData">{{notification.name}}</td>

            <td class="notificationTableData" ng-show="pop.userObject.role === 'Supervisor'">
                <md-button class="md-raised md-warn" ng-click="pop.deleteNotification(notification.notification_id)">Delete</md-button>
            </td>
        </tr>
    </table>

</div>