<div class="container">
    <h1 class="lead">Register User</h1>
    <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
      <form class="logRegForm" layout="column" layout-align="left" ng-submit="lc.registerUser()">
        <md-input-container>
          <label for="username">Name</label>
          <input ng-required="true" type="text" ng-model="lc.user.name" />
          <div ng-messages="lc.user.name.$error" ng-show="lc.user.name.$dirty">
            <div ng-message="required">Please enter your name.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label for="username">Email</label>
          <input ng-required="true" type="email" ng-model="lc.user.username" />
          <div ng-messages="lc.user.username.$error">
            <div ng-message="required">Please enter a valid email address.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label for="password">Password</label>
          <input ng-required="true" type="password" ng-model="lc.user.password" />
        </md-input-container>
        <p class="phoneInput">Please enter your number without symbols or spaces starting with 1. Example: 16125551234</p>
        <p class="phoneInput">By entering your phone number, you may receive text messages when urgent shifts are posted.</p>
        <md-input-container>
          <label for="phone">Mobile Phone</label>
          <input ng-model="lc.user.phone" />
        </md-input-container>
        <div ng-if="lc.phoneMessage != ''" class="lead alert alert-danger" role="alert">{{lc.phoneMessage}}</div>
        <md-button class="md-raised md-primary" type="submit" name="submit" value="Register">
          Register
        </md-button>
        <a href="#home">Cancel</a>
      </form>
  </div>