<div ng-include="'views/partials/nav.html'"></div>
<md-content ng-cloak hide-xs hide-sm>
  <md-tabs>
    <md-tab label="All Shifts">
      <!-- All Open Shifts -->
      <md-content>
        <div class="staffPage" layout="column" layout-align="center center">
          <div layout="row" layout-align="center center">

            <div layout="row" layout-align="start center" class="legendRow">
              <div class="key">Shift Key:</div>
              <div class="legend" id="open">
                <span>Open</span>
              </div>
              <div class="legend" id="pending">
                <span>Pending</span>
              </div>
              <div class="legend" id="filled">
                <span>Filled</span>
              </div>
            </div>
          </div>
          <div class="staffCalendarSpace">

            <div layout="row" layout-align="space-around center" class="staffCalHeader">
              <md-button class="md-raised md-accent" id="calHeadBtnLeft" ng-click="sc.prevMonth(sc.currentMonth.dates[0].month, sc.currentMonth.dates[0].year)">Prev</md-button>
              <div>{{sc.displayMonth}} {{sc.displayYear._i.year}}</div>
              <md-button class="md-raised md-accent" id="calHeadBtnRight" ng-click="sc.nextMonth(sc.currentMonth.dates[0].month, sc.currentMonth.dates[0].year)">Next</md-button>
            </div>

            <div layout="row" hide-xs>
              <div class="calHeader" ng-repeat="dayheader in sc.dayList">
                <div>{{dayheader}}</div>
              </div>
            </div>

            <div layout-xs="column" class="staffCalBox" ng-repeat="day in sc.currentMonth.dates">
              <div class="innerBox">
                <div>
                  <span class="dayNum">{{day.dayNum}}</span>

                </div>
                <div layout="column" ng-repeat="shift in day.shifts track by $index">
                  <div class="shiftButton" ng-class="{{'shift.shift_status'}}" ng-click="sc.shiftDetails(event, shift)">
                    <div class="shiftButtonLeft">
                      <md-icon ng-class="{{'shift.shift'}}" md-svg-icon="../images/ic_add_circle_black_18px.svg"></md-icon>
                    </div>
                    <div class="shiftButtonRight">
                      <span ng-show="shift.adl">ADL</span>
                      <span ng-show="shift.nurse">Nurse</span>
                      <span ng-show="shift.mhw">MHW</span>
                      <br>
                      <span>{{shift.shift}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end staff cal box -->
          </div>
        </div>
      </md-content>
    </md-tab>
    <!-- End all open shifts tab -->
      <!-- Start my shifts tab -->
    <md-tab layout-fill label="My Shifts">
      <md-content>
        <div class="staffPage" layout="column" layout-align="center center">
          <div layout="row" layout-align="center center">

            <div class="legendRow">
              <div class="key">Shift Key:</div>
              <div class="legend" id="pending">
                <span>Pending</span>
              </div>
              <div class="legend" id="filled">
                <span>Confirmed</span>
              </div>
            </div>
          </div>

          <div class="staffCalendarSpace">
            <div layout="row" layout-align="space-around center" class="staffCalHeader">
              <md-button class="md-raised md-primary" id="calHeadBtnLeft" ng-click="sc.prevMonth(sc.currentMonth.dates[0].month, sc.currentMonth.dates[0].year)">Prev</md-button>
              <div>{{sc.displayMonth}} {{sc.displayYear._i.year}}</div>
              <md-button class="md-raised md-primary" id="calHeadBtnRight" ng-click="sc.nextMonth(sc.currentMonth.dates[0].month, sc.currentMonth.dates[0].year)">Next</md-button>
            </div>

            <div layout="row" hide-xs>
              <div class="calHeader" ng-repeat="dayheader in sc.dayList">
                <div>{{dayheader}}</div>
              </div>
            </div>

            <div layout-xs="column" class="staffCalBox" ng-repeat="day in sc.currentMonth.dates">
              <div class="innerBox">
                <span class="dayNum">{{day.dayNum}}</span>
                <div layout="column" ng-repeat="shift in day.usershifts track by $index">
                  <div class="shiftButton" ng-class="{{'shift.shift_status'}}" ng-click="sc.shiftDetails(event, shift)">
                    <md-icon ng-class="{{'shift.shift'}}" md-svg-icon="../images/ic_add_circle_black_18px.svg"></md-icon>
                    <span ng-show="shift.adl">ADL</span>
                    <span ng-show="shift.nurse">Nurse</span>
                    <span ng-show="shift.mhw">MHW</span>
                    <span>{{shift.shift}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </md-content>
    </md-tab>
  </md-tabs>
</md-content>
<!-- ********************************************** MOBILE VIEW ***********************************************************  -->
<div class="mobileView" show-xs show-sm hide-md hide-lg hide-xl>
  <md-content><!-- ALL OPENINGS -->
    <md-tabs>
      <md-tab label="All">
        <md-content>
          <div layout="row" layout-align="center center"> <!-- calendar navigation header -->
            <md-button class="md-icon-button md-primary" id="mobileNav" aria-label="back" ng-click="sc.prevMonth(sc.currentMonth.dates[0].month, sc.currentMonth.dates[0].year)">
              <md-icon md-svg-icon="../images/back-arrow.svg"></md-icon>
            </md-button>
            <div>{{sc.displayMonth}} {{sc.displayYear._i.year}}</div>
            <md-button class="md-icon-button md-primary" id="mobileNav" aria-label="forward" ng-click="sc.nextMonth(sc.currentMonth.dates[0].month, sc.currentMonth.dates[0].year)">
              <md-icon md-svg-icon="../images/forward-arrow.svg"></md-icon>
            </md-button>
          </div> <!-- end calendar navigation header -->
          
          <div ng-repeat="day in sc.currentMonth.dates">
            <div ng-repeat="shift in day.shifts track by $index">
              <div layout="row" layout-align="center center">
                <div class="mobileShiftButton" ng-click="sc.shiftDetails(event, shift)">
                  <div class="shiftStatusIndicator" ng-class="{{'shift.shift_status'}}">{{shift.shift_status}}</div>
                  <div class="shiftButtonLeft">
                    <md-icon ng-class="{{'shift.shift'}}" md-svg-icon="../images/ic_add_circle_black_18px.svg"></md-icon>
                  </div>
                  <div layout="column" layout-align="center start" class="mobileShiftButtonDetails">
                    <div layout="row"><span>{{shift.date | amDateFormat: 'dddd'}}, </span><span>{{shift.date | amDateFormat: 'MM-DD-YYYY'}}</span></div>
                    <div layout="row">
                      <span ng-show="shift.adl">ADL</span>
                      <span ng-show="shift.nurse">Nurse</span>
                      <span ng-show="shift.mhw">MHW</span>
                    </div>
                    <div layout="row">{{shift.shift}}</div>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </md-content> <!-- END ALL OPENINGS -->
      </md-tab>
      <md-tab label="My Shifts"> <!-- MY OPENINGS -->
        <md-content>
          <div class="myShiftsMobileSpace" >
            <div layout="row" layout-align="center center" ng-repeat="shift in sc.userShiftsToDisplay track by $index">

              <div class="myShiftBlock">
                <div class="shiftStatusIndicator" ng-class="{{'shift.shift_status'}}">{{shift.shift_status}}</div>
                <div class="shiftButtonLeft">
                  <md-icon ng-class="{{'shift.shift'}}" md-svg-icon="../images/ic_add_circle_black_18px.svg"></md-icon>
                </div>
                <div layout="column" layout-align="center start" class="mobileShiftButtonDetails">
                <div layout="row">
                  <span>{{shift.date | amDateFormat: 'dddd'}}, </span><span>{{shift.date | amDateFormat: 'MM-DD-YYYY'}}</span>
                </div>
                <div layout="row">
                  <span ng-show="shift.adl">ADL</span>
                  <span ng-show="shift.nurse">Nurse</span>
                  <span ng-show="shift.mhw">MHW</span>
                </div>
                <div layout="row">
                  <span>{{shift.shift}}</span>
                </div>
              </div>
            </div>
            </div>
            </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>