<div ng-cloak ng-include="'views/partials/nav.html'"></div>
<div class="superRight" layout="column">
  <md-button class="md-raised md-primary" ng-click="sc.addShift($event)">Add Shift</md-button>
  <h2>Shifts waiting for Confirmation</h2>
  <div ng-repeat="shift in sc.pendingShifts.data | filter: shift.date">
    <md-button id="confirmShiftButton" ng-click="sc.confirmShift($event, shift)">
      <md-icon ng-class="{{'shift.shift'}}" md-svg-icon="../images/ic_add_circle_black_18px.svg"></md-icon>
      <span>{{shift.date}}</span>
      <span ng-show="shift.nurse"> Nurse </span>
      <span ng-show="shift.mhw"> MHW </span>
      <span ng-show="shift.adl"> ADL </span>
    </md-button>
  </div>
</div>
<div layout="row" layout-align="start center" class="legendRow">
  <div class="key">Shift Key:</div>
  <div class="legend" id="open">
    <span>Open</span>
  </div>
  <div class="legend" id="pending">
    <span>Pending</span>
  </div>
  <div class="legend" id="filled">
    <span>Filled</span>
  </div>
</div>
<div class="calendarSpace" display="flex">

  <div layout="row" layout-align="space-around center" class="staffCalHeader">
    <md-button class="md-raised md-accent" ng-click="sc.prevTwoWeeks(sc.currentSchedule[0].moment)">Previous</md-button>
    <div>{{sc.month}} {{sc.year}}</div>
    <md-button class="md-raised md-accent" ng-click="sc.nextTwoWeeks(sc.currentSchedule[0].moment)">Next</md-button>
  </div>
  <div class="calDays">
  <div layout="row">
    <div class="calHeader" ng-repeat="dayHeader in sc.dayList">
      <div>{{dayHeader}}</div>
    </div>
  </div>
  <div class="staffCalBox" ng-repeat="date in sc.currentSchedule track by $index">
    <div class="innerBox">
      <div class="dayNum">{{date.moment | amDateFormat: 'D'}}</div>
      <div class="shifts" layout="column" ng-repeat="shift in date.shifts track by $index">
        <div ng-class="{{'shift.shift_status'}}" class="shiftButton" ng-click="sc.shiftDetails(event, shift)">
          <md-icon ng-class="{{'shift.shift'}}" md-svg-icon="../images/ic_add_circle_black_18px.svg"></md-icon>
          <span ng-show="shift.adl">ADL</span>
          <span ng-show="shift.nurse">Nurse</span>
          <span ng-show="shift.mhw">MHW</span>
        </div>
      </div>
    </div>
  </div>
</div>

</div>