<div ng-include="'views/partials/nav.html'"></div>
  <p>
    supervisor view
  </p>

  <md-button class="md-raised md-primary" ng-click="sc.shiftDetails($event)">Shift Details</md-button>
  <md-button class="md-raised md-primary" ng-click="sc.addShift($event)">Add Shift</md-button>

  <div class="calendarSpace"> <!-- start calendar space -->
    <div layout="row" layout-align="center center">
      <md-button class="md-raised md-primary" ng-click="sc.prevTwoWeeks(sc.currentSchedule.dates[0].moment)">Previous</md-button>
      <div flex="50">{{sc.month}}  {{sc.year}}</div>
      <md-button class="md-raised md-primary" ng-click="sc.nextTwoWeeks(sc.currentSchedule.dates[0].moment)">Next</md-button>
    </div>
    <!-- <div layout="row" class="dayHeader"> start weekday headers -->
      <!-- <div class="calBox">Thu</div>
      <div class="calBox">Fri</div>
      <div class="calBox">Sat</div>
      <div class="calBox">Sun</div>
      <div class="calBox">Mon</div>
      <div class="calBox">Tue</div>
      <div class="calBox">Wed</div>
    </div> <!-- end weekday headers -->
   
    </div>
      <div class="calBox">Wed</div> 
    <!-- </div> <!-- end weekday headers -->
    <!-- <div layout="row" layout-wrap><!-- start row for ng-repeat -->
      <!-- <div ng-repeat="date in sc.currentSchedule.dates track by $index"> start ng-repeat -->
        <!-- <div layout="column" class="calBox calHeight" ng-click="sc.click($index)">start calendar box -->
          <!-- <span>{{date.moment}}</span> -->
          <!-- <div ng-repeat="shift in date.shifts track by $index" > --> 
            <!-- {{shift.shift}} {{shift.shift_id}} -->
          <!-- </div>  -->
        <!-- </div> -->
          <!-- <br> -->
          <!-- <div></div> -->
        <!-- </div>end calendar box -->
      <!-- </div>end ng-repeat -->
    <!-- </div>  -->
    <div>
    <md-grid-list
      md-cols="7" md-cols-xs="7" md-cols-s="7" md-cols-md="7" md-cols-lg="7"
      md-row-height="30px"
      md-gutter="10px"
      class="calHeader"> 
      <md-grid-tile
      ng-repeat="dayheader in sc.dayList"
      md-rowspan="1"
      md-colspan="1">
        {{dayheader}}
      </md-grid-tile>
    </md-grid-list>
      <md-grid-list
      md-cols="7" md-cols-xs="7" md-cols-s="7" md-cols-md="7" md-cols-lg="7"
      md-row-height="200px"
      md-gutter="10px" 
    >
      <md-grid-tile
      md-rowspan="1" 
      md-colspan="1"
      ng-repeat="date in sc.currentSchedule.dates track by $index">
      <div>
      {{date.moment | amDateFormat: 'D'}}
    </div>
      <div layout="column" ng-repeat="shift in date.shifts track by $index" ng-click="sc.shiftDetails(event, shift)">
        <br>
        <div>{{shift.shift}} {{shift.shift_id}}</div>
        <br>
      </div>
      </md-grid-tile>
    </md-grid-list>
  </div>
  </div><!-- end calendar space -->
