<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 id="welcome">Howdy, {{uc.userObject.name}}!</h1>

    <md-card hide-xs hide-sm show-md show-lg show-xl style="width:80%;" layout-sm="column">
        <md-toolbar>
            <div class="md-toolbar-tools" layout="row" layout-sm="column">
                <div flex="40" layout-padding>Email</div>
                <div flex="40" layout-padding>Phone</div>
            </div>
        </md-toolbar>
        <md-list>
            <md-list-item layout="row">
                <div flex="40" layout-padding ng-show="uc.showName">
                    {{uc.userObject.userName}}
                </div>
                <div flex="40" layout-padding ng-hide="uc.showName">
                    <input aria-label = "username" placeholder="{{uc.userObject.userName}}" ng-model="uc.editProfile.userName">
                </div>
                <div flex="40" layout-padding ng-show="uc.showName">
                    {{uc.userObject.phone}}
                </div>
                <div flex="40" layout-padding ng-hide="uc.showName">
                    <input aria-label = "phone" placeholder="{{uc.userObject.phone}}" ng-model="uc.editProfile.phone">
                </div>

                <div flex="20" layout-padding>
                    <md-button aria-label = "edit" ng-click="uc.joshEdit(uc.editProfile.userName, uc.editProfile.phone)" ng-hide="uc.showName">
                        <md-icon md-svg-src="../images/check.svg"></md-icon>
                    </md-button>
                    <md-button aria-label = "save" ng-click="uc.toggleEdit()" ng-show="uc.showName">
                        <md-icon md-svg-src="../images/ic_mode_edit_black_18px.svg"></md-icon>
                    </md-button>
                </div>
            </md-list-item>
        </md-list>
    </md-card>
    <!-- <div show-xs show-sm hide-md hide-lg hide-xl>
        <div layout="row">
            <div class="editUserInput" ng-show="uc.showName">
                {{uc.userObject.userName}}
            </div>
            <div class="editUserInput" ng-hide="uc.showName">
                <input placeholder="{{uc.userObject.userName}}" ng-model="uc.editUser.userName">
            </div>
            <div class="editUserInput" ng-show="uc.showName">
                {{uc.userObject.phone}}
            </div>
            <div class="editUserInput" ng-hide="uc.showName">
                <input placeholder="{{uc.userObject.phone}}" ng-model="uc.editUser.phone">
            </div>
        </div>
        <div>
            <md-button>
                <md-icon md-svg-src="../images/ic_mode_edit_black_18px.svg"></md-icon>
            </md-button>
        </div>
        <div>
            <md-button ng-click="uc.joshEdit()">
                <md-icon md-svg-src="../images/check.svg"></md-icon>
            </md-button>
        </div>

        <md-button ng-click="uc.toggleEdit()" ng-hide="uc.showName">
            <md-icon md-svg-src="../images/check.svg"></md-icon>
        </md-button>
        <md-button ng-click="uc.toggleEdit()" ng-show="uc.showName">
            <md-icon md-svg-src="../images/ic_mode_edit_black_18px.svg"></md-icon>
        </md-button>
    </div>-->
    <br>

    
    <div layout="row" layout-align="center center">
        <md-button ng-show="uc.userObject.role === 'Supervisor'" class="md-raised md-primary" ng-click="uc.createNotification()">Create Notification</md-button>
    </div>
   
    <br>
    <div layout="row" layout-align="center center">
        <table id="Notifications">
            <th class="notificationTableHead">Date Posted</th>
            <th class="notificationTableHead">Headline</th>
            <th class="notificationTableHead">Message</th>
            <th class="notificationTableHead">Posted By</th>
            <th ng-show="uc.userObject.role === 'Supervisor'" class="notificationTableHead">Delete</th>

            <tr class="notificationTableRows" ng-repeat="notification in uc.notifications.data track by $index">
                <td class="notificationTableData">{{notification.date | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}</td>
                <td class="notificationTableData">{{notification.headline}}</td>
                <td class="notificationTableData">{{notification.message}}</td>
                <td class="notificationTableData">{{notification.name}}</td>

                <td class="notificationTableData" ng-show="uc.userObject.role === 'Supervisor'">
                    <md-button class="md-raised md-warn" ng-click="uc.deleteNotification(notification.notification_id)">Delete</md-button>
                </td>
            </tr>
        </table>
    </div>
</div>

</div>