<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 id="welcome">Welcome, {{uc.userObject.name}}!</h1>

    <div class="addMessageButton">
        <!-- SUPERVISOR BUTTON TO ADD MESSAGES -->
        <md-button ng-show="uc.userObject.role === 'Supervisor' || uc.userObject.role === 'Administrator'" class="md-raised md-primary" ng-click="uc.createNotification()">Create Message</md-button>
        <md-button ng-show="uc.userObject.role === 'Supervisor' || uc.userObject.role === 'Administrator'" class="md-raised md-primary" ng-click="uc.createUrgentText()">Create Urgent Text</md-button>
    </div>

    <!-- ********** USER MESSAGES ********* -->
    <!-- Standard View -->
    <div class="userMessages">
        <div class="userMessagesHeader" layout="row" layout-align="center center">On-call Staff Messages</div>
        <div class="messagesHeader" layout="row" layout-align="start center">
            <div class="messageDateHeader">Date</div>
            <div class="messageMessageHeader">Message</div>
            <div class="messageByHeader">Posted by</div>
        </div>
        <div class="userMessageRow" layout="row" layout-align="start center" ng-repeat="notification in uc.notifications.data track by $index">
            <div class="messageDate">
                <span>{{notification.date | amDateFormat:'dddd'}}</span>
                <br>
                <span>{{notification.date | amDateFormat:'MM-DD-YY'}}</span>
            </div>
            <div class="messageMessage">
                <span class="messageHeadline">{{notification.headline}}</span>
                <br>
                <span>{{notification.message}}</span>
            </div>
            <div class="messageBy">{{notification.name}}</div>
            <div class="messageDelete" ng-show="uc.userObject.role === 'Supervisor'">
                <md-button aria-label="Delete Message" class="md-icon-button md-primary" ng-click="uc.deleteNotification(notification.notification_id)">
                    <md-icon md-svg-src="../images/ic_delete_black_18px.svg"></md-icon>
                </md-button>
            </div>
        </div>
    </div>

    <!-- Mobile View -->

    
    <!-- ********** END USER MESSAGES ********* -->
    <!-- ********** USER PROFILE EDIT ********* -->
    <div class="userInfo">
        <form ng-submit="uc.updateUserInfo(uc.editProfile.userName, uc.editProfile.phone)">
        <div class="userMyInformation messagesHeader" layout="row" layout-align="center center">My Information</div>
        <div class="userInfoHeader" layout="row" layout-align="start center" hide-xs hide-sm show-md show-lg show-xl>
            <div class="userInfoNameHeader">Name</div>
            <div class="userInfoEmailHeader">Email</div>
            <div class="userInfoPhoneHeader">Phone</div>
            <div class="userInfoEditHeader"></div>
        </div>
        <div class="userInfoRow" layout="row" layout-align="start center">
            <div class="userInfoName">
                {{uc.userObject.name}}
            </div>
            <div class="userInfoEmail" ng-show="uc.showName">
                {{uc.userObject.userName}}
            </div>
            <md-input-container class="userInfoEmail" ng-hide="uc.showName">
                <label for="userName">Email Address</label>
                <input ng-required="true" type="email" aria-label="Email Address" placeholder="{{uc.userObject.userName}}" ng-model="uc.editProfile.userName" required>
            </md-input-container>
            <div class="userInfoPhone" ng-show="uc.showName">
                {{uc.userObject.phone}}
            </div>
            <md-input-container class="userInfoEmail" ng-hide="uc.showName">
                <label for="phone">Phone Number</label>
                <input type="text" ng-required="true" aria-label="Phone Number" placeholder="{{uc.userObject.phone}}" ng-model="uc.editProfile.phone">
            </md-input-container>
            <div ng-if="uc.phoneMessage != ''" ng-hide="uc.showName" class="lead alert alert-danger" role="alert">{{uc.phoneMessage}}</div>
            <div class="userInfoEdit">
                <md-button class="md-icon-button md-primary" aria-label="Edit" type="submit" name="submit" ng-hide="uc.showName">
                    <md-icon md-svg-src="../images/check.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Cancel" ng-hide="uc.showName" ng-click="uc.toggleEdit()">
                    <!-- <img id="closeIcon" src="/styles/closeIcon.png" alt="close window"> -->
                    <md-icon md-svg-src="../images/baseline-close-24px.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary" aria-label="Save" ng-click="uc.toggleEdit()" ng-show="uc.showName">
                    <md-icon md-svg-src="../images/ic_mode_edit_black_18px.svg"></md-icon>
                </md-button>
            </div>
        </div>
        </form>
    </div>

    <!-- ********** MOBILE USER PROFILE EDIT ********* -->
    <!-- <div class="mobileUserEdit" show-xs show-sm hide-md hide-lg hide-xl>
        <span>My Information</span>
        <div show-xs show-sm hide-md hide-lg hide-xl>
            <div layout="row">
                <div class="editUserInput" ng-show="uc.showName">
                    {{uc.userObject.userName}}
                </div>
                <div class="editUserInput" ng-hide="uc.showName">
                    <input placeholder="{{uc.userObject.userName}}" ng-model="uc.editUser.userName">
                </div>
                <div class="editUserInput" ng-show="uc.showName">
                    {{uc.userObject.phone}}
                </div>
                <div class="editUserInput" ng-hide="uc.showName">
                    <input placeholder="{{uc.userObject.phone}}" ng-model="uc.editUser.phone">
                </div>

                <md-button aria-label="edit" class="md-icon-button md-primary" ng-click="uc.updateUserInfo()" ng-hide="uc.showName">
                    <md-icon md-svg-src="../images/check.svg"></md-icon>
                </md-button>
                <md-button aria-label="save" class="md-icon-button md-primary" ng-click="uc.toggleEdit()" ng-show="uc.showName">
                    <md-icon md-svg-src="../images/ic_mode_edit_black_18px.svg"></md-icon>
                </md-button>
            </div>
        </div>
</div> -->