<md-dialog aria-label="Confirm Shift Pop-up">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>Confirm Shift</h3>
                <span flex="auto"></span>
                <md-button ng-click="sc.cancel()"> close
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content flex="auto">
            <div layout="row" class="confirmBox" ng-repeat = "staff in sc.pendingShifts">

                <div>{{staff.name}}  {{staff.role}} </div>
                <div layout="row" class="confirmComments" ng-show = "sc.showComments(staff)">Comments: {{staff.staff_comments}}</div>
            <md-button class="md-raised md-primary" ng-click="sc.confirmShift(staff)">Confirm</md-button>
            </div>
        </md-dialog-content>
    
    </md-dialog>