<md-dialog aria-label="edit user">
    <md-toolbar class="md-toolbar-tools">
        <h3>Edit User</h3>
        <span flex></span>
        <md-button class="md-icon-button md-primary" id="closeButton" ng-click="ac.cancel()">
            <img id="closeIcon" src="/styles/closeIcon.png" alt="close window">
        </md-button>
    </md-toolbar>
    <md-dialog-content class="editUserDialog">
        <div layout="column">
            <md-input-container>
                <label>Name</label>
                <input ng-model="ac.user.name"></input>
            </md-input-container>
            <md-input-container>
                <label>Email</label>
                <input type="email" ng-model="ac.user.username"></input>
            </md-input-container>
            <md-input-container>
                <label>Phone</label>
                <input ng-model="ac.user.phone"></input>
            </md-input-container>
            <md-input-container id="RoleInput">
                <label>Role</label>
                <md-select ng-model="ac.user.role">
                    <md-option ng-repeat="role in ac.roles" ng-value="role">{{role}}</md-option>
                </md-select>
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="ac.cancel()">Cancel</md-button>
        <md-button ng-click="ac.editUser(ac.user)">Save</md-button>
    </md-dialog-actions>

</md-dialog>