<md-dialog aria-label="confirm user">
    <md-toolbar>
        <span><h3>{{sc.shift.role}} {{sc.shift.shift}}</h3>
        <div>{{sc.shift.status}}</div></span>
    </md-toolbar>
    <md-dialog-content>
        Date: {{sc.shift.date}}
        <br>
        Shift: {{sc.shift.shift}}
        <br>
        Role: <span><span ng-show="sc.nurse">Nurse</span><span ng-show="sc.mhw">MHW</span><span ng-show="sc.adl">ADL</span></span>
        <br>
        Supervisor Comments: {{sc.shift.comments}}
    </md-dialog-content>
<md-dialog-actions>
    <md-button ng-click="sc.showPickUpShift()">Pick Up Shift</md-button>
    <div ng-show="sc.showComments">
       <br> <br> <br>
        Add a comment: <input type="text" ng-model="sc.shift.staff_comments">
        <md-button ng-click="sc.pickUpShift(sc.shift)">Pick Up Shift</md-button>
    </div>
    <md-button ng-click="sc.cancel()">Cancel</md-button>
</md-dialog-actions>
    </md-dialog>