<md-dialog aria-label="Shift Details" class="" >
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>Shift Details</h3>
            <span flex="auto"></span>
            <md-button class="md-icon-button md-primary" id="closeButton" ng-click="sdc.cancel()"><img id="closeIcon" src="/styles/closeIcon.png" alt="close window">
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content flex="auto">
    <div>
        Shift Details will go in here
        {{event}}
    </div>
    </md-dialog-content>

</md-dialog>